@media only screen and (min-device-width: 800px) {
    
    body {
        
        width: 100%;
    }
    
    .body-container {
        
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    
    #logo {
        
        max-width: 50%;
        height: auto;
    }
    
    .index-container {
        
        width: 90%;
    }
    
    .col-1-2-m {
        
        width: 100%;
    }
    
    h2 {
        
        font-size: 1.7rem;
    }
    
    p, label, input[type="text"] {
        
        font-size: 1.2rem;
    }
}

@media only screen and (max-device-width: 800px) {
    
    .col-1-2-m {
        
        width: 100%;
    }
    
    .col-1-3-m {
        
        width: 100%;
    }
}