<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeetingOne Headcount</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/counter.css">
</head>
<body>
    <div class="container absolute-center">
        <div class="counter blue">
            <h1>Main</h1>
            <hr>
            <p>{{ main_count }}</p>
        </div>
        <div class="counter red">
            <h1>Recap</h1>
            <hr>
            <p>{{ recap_count }}</p>
        </div>
    </div>
</body>
</html>